@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body{

    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}
.navig{
    background-color:rgba(30, 33, 40,255) ;
    padding: 15px;
    box-shadow: 0 0 10px #000;
    height: 80px;
}
.navig li{
    display: absolute;
    padding-left: 260px;
    
}
.navig li a{
    color:  #EFB034;
    text-decoration: none;
    font-size: 40px;
    font-family: "Lexend";
    font-weight: bold;
}

.barralateral {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 257px;
    height: 100vh;
    padding: 50px 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(30, 33, 40,255);
}
.logo{
    height: 40px;
    padding: 16px;
}
.menu{
    height: 88%;
    width: max-content;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 5% 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .activo{
    background: #EFB03495;
}
.activo{
    color: #000;
}
.menu a{
    color: #DEE1E6;
    font-size: 14px;
    text-decoration: none;
    display:flex;
    align-items: center;
    gap: 7px;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.regresar{
    padding: 1rem;
    margin: 0% 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    position:sticky;
    bottom: 0px;
    left: 15px;
    background: #0C6A6F;
    width: 80%;
}
.regresar :active{
    color: #34ef41;
}
.main--content{
    position: relative;
    background: rgba(30, 33, 40,255);
    width: 100%;
    padding:  1rem;
}

/*Pantalla de usuarios */

.Usuarios{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 16rem;
    width: max-content;
    height: 30rem;
    padding: 50px 1.7rem;
    color: #000;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #fff;
    
}
.Usuarios a{
    text-decoration: none;
    color: #0C6A6F;
    font-weight: 800;
}
table{
    position: sticky;
    border-collapse:separate;
    border-radius: 10px;
    border-color:#000;
    width: 100%;
}
th,td{
    text-align: center;
    padding:8px;
}
tr:nth-child(even){
    background-color:#fff;
}
tr:nth-child(odd){
    background-color: #fff;
}
th{
    background-color: #DEE1E6;
    color:#000;
}

.DNombre{
    display: flex;
    position: absolute;
    left: 18rem;
    flex-direction: column;
}
.DPAT{
    display: flex;
    position: absolute;
    left: 30rem;
    flex-direction: column;
}

input{
    border: 3px solid #f3f4f6;
    background-color:#f3f4f6 ;
    box-sizing: border-box;
    color: #000;
    border-radius: 3px;
    
}

label{
    position: relative;
    color: #424856;
}
/* <div class="DNombre">
    <div class="LabelNombre">
    <label>Nombre </label>
    </div>
    <div class="inputnombre">
    <input type="text" name ="nombreEmp"><br>
    </div>
    
    </div>*/
